* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cols {
    display: flex;
}

#msgwindow {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    position: relative;
    height: 100vh;
    padding: 20px;
    background: lightgreen;
    height: 100vh;
    max-height: 100vh;
}

#msgwindow #msg {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
}

#profile,
#contacts {
    width: 40%;
    border: 1px solid black;
}

#msgwindow #msg div {
    max-width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#msgwindow #msg .to {
    box-shadow: -2px 3px 3px white, 2px -3px 3px black;
    align-self: flex-end;
}

#msgwindow #msg .from {
    box-shadow: 2px 3px 3px white, -2px -3px 3px black;
    align-self: flex-start;
}

#msgwindow>#inputmsg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}

#msgwindow>#inputmsg>input {
    font-size: 1.5rem;
    margin: 20px 0 20px 20px;
    width: calc(100% - 240px);
}

#msgwindow>#inputmsg>button {
    width: 200px;
    font-size: 1.5rem;
}

#msgwindow>#msg::-webkit-scrollbar {
    width: 3px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

#msgwindow>#msg::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 30px;
}